<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {%- if title -%}
        {{ title }} | mike.fail
    {%- else -%}
        mike.fail
    {%- endif -%}
    </title>
    <link href="/css/fail.css" rel="stylesheet" type="text/css">
    {%- block preamble %}
    {%- endblock %}
</head>
<body>
    {%- block header %}
    <div class="header"><h1><a href="/">mike.fail</a></h1></div>
    {%- endblock %}
    <div class="section content-container">
        {%- block content %}
        {%- endblock %}
    </div>
    {%- block footer %}
    {%- endblock %}
</body>
